<div class="container">
  <div class="row-md-4">
    <h2>Edit post</h2>

    <div class="post-form">
      <!--投稿フォーム呼び出し-->
      <%= render 'post_form', post: @post %>
    </div>

    <%= link_to 'Back', post_path(@post) %>
  </div>
</div>