<div class="container py-5">
  <div class="row py-5">

    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render 'notification', notifications: @notifications %>
      <!--ページネーション-->
      <div class="mx-auto">
        <%= paginate @notifications %>
      </div>
    <% else %>
      <p>
        通知はありません
      </p>
    <% end %>

  </div>
</div>