<div class="image">
  <%= link_to user_path(user.id) do %>
    <%= image_tag user.get_profile_image(90,90), class: "profile_image" %>
  <% end %>
</div>

<table class="table table-striped">
  <tr>
    <th>User</th>
  </tr>
  <tr>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
  </tr>
  <tr>
    <td><%= user.introduction %></td>
  </tr>
</table>