<footer class="footer">
  <p class="page-top"><a href="#">Page Top</a></p>
  <div class="footer_a">
    <span>Copyright© Acuario All right reserved.</span>
    |
    <span><a href="#"><i class="fa-brands fa-x-twitter"></i></a></span>
    |
    <span><a href="#"><i class="fa-brands fa-instagram"></i></a></span>
  </div>
</footer>